.alert {
  text-align: center;
}

.container-fluid {
    padding: 0 8%;
  }

.navbar {
  padding-bottom: 20px;
}

.navbar-brand {
  font-weight: bolder;
}

.nav-item {
  padding: 0 10px;
  font-weight: bold;
}

body {
  background-color: #a6dcef
}

h1 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

p{
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

h6 {
  padding-top: 80px;
  text-align: center;
}

/* ACCORDION */

.accordion {
  background-color: #ddf3f5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #f2aaaa;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.nametitle {
  color: #f2aaaa;
}

.importantdates {
  font-weight: bold;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
}

#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: 5px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 15px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#june {
  top: 140px;
  background-color: #4CAF50;

}

#july {
  top: 200px;
  background-color: #2196F3;
}

#august {
  top: 260px;
  background-color: #f44336;
}

#september {
  top: 320px;
  background-color: #000;
}

#october {
  top: 380px;
  background-color: #734046;

}

#november {
  top: 440px;
  background-color: #595b83;
}

#december {
  top: 500px;
  background-color: #FF8C00;
}
